/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/*
public/*
!public/index.php
!public/.htaccess
!public/favicon.ico
!public/mix-manifest.json
!public/storage/